@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container{
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRodJnYPwC9AEow9g9dKCB-RCnD4q9gMACCCw&usqp=CAU");
 height:100vh;
 width: 100vw;
}


#nav-link1{
  color: #f9a602 ;
  font-family: "roboto"
}

#nav-link2{
  color: #f9a602;
  font-family: "roboto"
}

#nav-link3{
  color:#f9a602;
  font-family: "roboto"
}

#nav-link4{
  color:  #f9a602;
  font-family: "roboto"
}
#nav-link5{
  color: #f9a602;
  font-family: "roboto"
}

.navbar-logo{
  height: 65px;
  width: 75px;
  background-image:url("https://image.shutterstock.com/image-vector/food-logo-icon-design-vector-600w-1690192627.jpg");
  background-size:cover;  
}

.banner-heading{
  color: white;
  font-size: 75px;
  text-align:center;
  padding: 5px;
  font-family: "lobster";
  font-weight: bold;
}

.banner-para{
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  font-family: "bree serif";
 
}

.banner-view-button{
  height: 40px;
  width: 120px;
  background-color:#d0b200;
  border-radius:9px;
  color:white;
  border-width: 0px;
  font-weight:bold;
}

.banner-order-button{
  height:40px;
  width:120px;
  background-color:transparent;
  border-color:#d0b200;
  color:#d0b200;
  font-weight:bold;
  border-radius:9px;
  border-style: solid;
}
  
.wcu-section{
  background-color: #fbfbfe;
  margin-bottom:60px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  
}

.wcu-heading{
  font-size:28px;
  text-align:left;
  font-weight:850;
  font-family: "roboto";
  color: #183b56;
  padding-top: 10px;
  padding-bottom: 5px;
}

.wcu-para{
  font-family: "roboto";
  font-size: 15px;
  color:#5a7184;
  padding-bottom: 20px;
  text-align: left;
}

.wcu-card{
  background-color:white;
  border-style:solid;
  border-color:#e5eaf4;
  border-width: 1px;
  border-radius: 18px;
}

.wcu-card-image{
  height: 100px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}

.wcu-card-title{
  font-size:24px;
  padding: 3px;
  text-align: center;
}

.wcu-card-description{
  color: #7b8794;
  font-size: 13px;
  font-family: "roboto";
  text-align: center;
}

.offers{
  font-style: italic;
  font-weight: 700;
  color: #e1ad01;
}

.explore-menu-section{
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

.explore-heading{
  font-size:28px;
  font-weight:800;
  font-family: "roboto";
  color: #183b56;
  text-align: left;
  padding-left: 7px;
}
.menu-card-container{
  background-color: #fbfbfe;
  border-radius: 30px;
  margin-bottom:10px;
 
}
.menu-card-image{
  border-radius:45px;
  background-size: cover;
}

.menu-card-title{
  font-size: 23px;
  text-align: center;
  font-family: "Caveat";
  color:#183b56;
  font-weight: bold;
}

.menu-card-link{
  color:#d0b200;
  font-family: "roboto";
  font-weight: 500;
  font-size: 12px;
  text-align: left;
}

.healthy-food-section{
  background-color: #f9fbfe;
  padding-top:50px;
}
 

.healthy-food-image{
  width:100%;
  border-radius:12px;
}
.healthy-food-heading{
  color:#183b56;
  font-family: "roboto";
  font-size: 30px;
  font-weight:bold;
  margin-top: "20px";
}
.healthy-food-para{
  color: #5a7184;
  font-family: "roboto";
  font-size: 17px;
}
.button{
  height: 40px;
  width: 120px;
  background-color:#d0b200;
  border-radius:9px;
  color:white;
  border-width: 0px;
  font-weight:bold;
}

.delivery-payment-images{
  height: 58px;
  width: 58px;
  background-size: cover;
  border-radius: 4px;
}
.thanking-customers-section {
  background-image: radial-gradient(#fff8db, #fae38c);
}
.thanking-customers-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.thanking-customers-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.thanking-customers-section-img {
  width: 270px;
  margin-bottom: 20px;
}
.custom-button {
  color: white;
  background-image: linear-gradient(#d0b200, #a58d00);
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}

.follow-us-section{
  background-color: white;
}

.follow-us-heading{
  color: #183b56;
  font-size: 28px;
  font-weight: 700;
  font-family: "roboto";
  text-align: center;
}

.footer-section{
  background-color: #0d2436;
}

.footer-section-mail-id{
  color: #959ead;
  font-family: "roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.footer-section-address{
  color: #959ead;
  font-family: "roboto";
  font-size: 14px;
}

.icon{
  color: #d0b200;
  font-size: 35px
}

.follow-us-icon-container{
  background-color: #faf7a8;
  width:80px;
  height: 80px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-left:22px;
  padding-right: 16px;
  margin: 20px;
  border-radius: 40px;
}

.thanking-customers-modal-title{
  color: #d0b200;
  font-weight: 800;
}